* {
  box-sizing: border-box;
  font-size: 20px;
}

.jobs-main-container {
  display: grid;
  column-gap: 10px;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  column-gap: 1rem;
  height: 100%;
  padding: 1rem;
  background-color: black;
}

.left-main-container {
  display: grid;
  height: 100vh;
  padding: 0.5rem;
  grid-column: 1 / 2;
  grid-template-rows: auto auto auto auto auto;
  row-gap: 1rem;
  color: rgb(255, 255, 255);
}

.profileDetails {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: repeat(auto-fill);
  row-gap: 0.2rem;
  padding: 1rem;
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.profileImage {
  width: 40px;
  height: 40px;
}

.profileHeading {
  font-size: 1rem;
  margin: 0;
  color: cornflowerblue;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.profileParagraph {
  font-size: 0.8rem;
  width: 160px;
  margin: 0 0 30px 0;
  color: rgb(110, 110, 110);
  font-family: Arial, Helvetica, sans-serif;
}

.right-main-container {
  grid-column: 2 / 9;
  display: grid;
  grid-template-rows: 40px auto;
  row-gap: 1rem;
  overflow: auto;
  margin-left: 0;
  padding: 0;
}

.search-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

.searchBar {
  display: grid;
  grid-template-columns: auto 40px;
  row-gap: 1rem;
  border: 1px solid grey;
}

.home-input {
  font-size: 1rem;
  border: none;
  background-color: black;
  color: rgb(120, 120, 120);
  padding-left: 0.5rem;
}

.home-search {
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
}

.jobs-list {
  overflow-y: scroll;
}

.ul-container {
  list-style: none;
  margin: 0;
  padding: 0;
}
