* {
  font-size: 20px;
}

.link {
  text-decoration: none;
}

.details-container {
  display: grid;
  grid-template-rows: auto auto auto;
  background-color: rgb(81, 81, 81);
  margin-bottom: 2rem;
  color: #ffffff;
  text-decoration: none;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  margin-bottom: 0.5rem;
}

.details-title-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  align-items: center;
}

.details-title-sub-container {
  display: grid;
  grid-template-rows: auto auto;
  margin: 0 0 0 1rem;
}

.details-rating-container {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 0.5rem;
  justify-content: start;
  align-items: center;
}

.details-image {
  width: 140px;
  height: 60px;
}

.details-title {
  font-size: 0.8rem;
  font-family: 'Roboto';
  justify-self: start;
  color: #ffffff;
  margin: 0.5rem 0.5rem 0rem 0rem;
}

.rating-icon {
  color: rgb(253, 250, 64);
}

.location-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  margin-left: 1rem;
}

.location-icon-container {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 0.5rem;
  justify-content: start;
  align-items: center;
}

.location-icon {
  color: rgb(255, 255, 255);
}

.details-description {
  width: 600px;
}
